[Desktop Entry]
Name=Hue Light Control
Name[de]=Hue Lichtsteuerung
Comment=Philips Hue Lights Control
Comment[de]=Philips Hue-Lichtsteuerung
Icon=im-jabber

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware

X-KDE-PluginInfo-Name=ch.fuchsnet.plasma.hoppla-sa
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Author=Christian Loosli
X-KDE-PluginInfo-Email=develop@fuchsnet.ch
X-KDE-PluginInfo-Version=2.8.4
X-KDE-PluginInfo-Website=https://github.com/Fuchs/hoppla-sa
X-KDE-PluginInfo-License=LGPL
